.card-back{
    /* margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px; */
    margin: 10px;
    border: 3px solid #5814a0;
    background-color: aliceblue;
    width: 175px;
    height:fit-content;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

h2{
    font-size: large;
    padding: 1px;
}

h3{
    color: gray
}

img{
    width: 75%;
    margin-top: 10px;

}

.card-back:hover{
    width: 250px;
}