.movie-list{
    display: flex;
    /* flex-direction: column; */
    /* align-items: stretch; */
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#load-more{
    position: relative;
    margin: 5px;
    margin-bottom: 10px;
    /* width:max-content; */
}